.container{
    max-width: unset !important;
    padding: 0px;
}

#profile-pic {
    background: url('https://raw.githubusercontent.com/beausmyth1990/eResume/master/wwwroot/img/profile.jpg') center center no-repeat;
    height: 60vh;
    background-size: cover;
    background-position-y: top;
}

#eresume-navBar{
   /* padding: 1px; */
}

#eresume-navBar a{
    border-right: 1px solid #80808026;
    border-bottom: 1px solid #80808026;
}

#eresume-navBar > ul:last-child > a{
    border-right: none;
}

#personal-info-summary {
    border-right: 1px solid #80808026;
    height: calc(100vh - 300px);
    padding: 1em;
    position: relative;
}

.info-list{
    width: 100%;
}

.info-list li {
    margin-top: .5em;
    border-bottom: 1px solid #f3f3f3;
}

#social-media-bar {
    position: absolute;
    top: -46px;
    width: 100%;
    left: 0px;
    backdrop-filter: blur(10px);
}

.social-media-link img {
    width: 30px;
    height: auto;
}

.lazy-container {
    border: 1px solid #f1f1f1;
    background: white;
    box-shadow: 0px 0px 3px 0px #f1f1f1;
    display: block !important;
    margin-bottom: 10px !important;
    position: relative;
    padding: 0px !important;
    border-left: 4px solid #e3e3e3;
}



.img-full-height{
    height: auto !important;
    width: 100px !important;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

#page-content {
    height: calc(100vh - 41px);
    padding: 10px;
    background: #f8f9fa;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: red blue;
}

/* Scrollbar */
#page-content::-webkit-scrollbar {
    width: 10px;
}

#page-content::-webkit-scrollbar-track {
    background: #f3f3f3;
}

#page-content::-webkit-scrollbar-thumb {
    background-color: #5f63687d;
    border-radius: 6px;
    border: 3px solid #f3f3f3;
    width: 5px;
}

.nav-link {
    text-align: center;
    color: #5f6368;
}

.nav-item a {
    color: #5f6368;
}


.nav-link.active {
    background: #80808038;
    color: #5f6368;
}

.nav-link.action:hover {
    background: #80808038 !important;
    color: #5f6368 !important;
    transition: none;
}

.nav-link:hover {
    cursor: pointer;
    background: #8080801f;
    color: #6f7176;
    transition: background-color ease-in .25s, color ease-in .25s;
}

.row {
    margin: unset;
}

.page-title {
    display: none;
    text-align: center;
    padding: 10px;
}

.mobile-page-header{
    display: none;
}

.mobile-page-header a{
    display: none;
}

.mobile-page-header .active{
    display: block;
}

#menu-toggle {
    z-index: 102;
    position: absolute;
    top: 0px;
    right: 0px;
    display: none;
    /* padding: 3px; */
    height: 41px;
    width: 41px;
    text-align: center;
    justify-content: center;
}

.mobile-only{
    display: none !important;
}

#menu-toggle:hover {
    background-color: #e05b62;
    cursor: pointer;
}

#loading-page{
    width: 100%;
    height: 100%;
}

@media(min-width: 768px) {
    #profile-pic {
        height: 300px;
    }
}

@media(max-width: 768px) {
    #eresume-navBar > ul {
        flex-direction: column !important;
    }

    #eresume-navBar{
        display: none;
    }

    #nav-column {
        position: absolute;
        z-index: 100;
        top: 45px;
        right: 0px;
        background: white;
        box-shadow: 0px 0px 10px 0px #abadaf;
    }

    .mobile-page-header #eresume-navBar {
        top: 0px;
        right: 0px;
    }

    #personal-info-summary {
        height: unset;
    }

    #nav-column{
        /* position: unset; */
    }

    .page-title{
        display: block;
    }

    #page-content-column{
        position: unset;
        
    }

    #page-content {
        /*margin-top: 16px;*/
    }

    #page-content-row {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100vh;
        width: 100vw;
    }

    #page-content-row #eresume-navBar{
        display: block;
        background-color: #cb4648;
        width: 100vw;
    }

    #eresume-navBar a {
        border: none;
        background: #d33c44;
        border-bottom: 1px solid #d87076;
        color: white;
    }

    #eresume-navBar a:hover {
        cursor: default;
        background: #d33c44d4;
    }

    #eresume-navBar .active {
        background: #d33c44;
    }

    .mobile-page-header {
        display: block;
    }

    .mobile-page-header.expand a {
        display: block
    }

    .mobile-page-header.expand a:hover{
        cursor: pointer !important;
        background: #e65961 !important;
    }

    .mobile-page-header.expand .active{
        border-left: 4px solid white !important;
        border-right: 4px solid white !important
    }

    #menu-toggle{
        display: block;
    }
    
    #menu-toggle.hidden{
        display: none;
    }

    .mobile-only{
        display: block !important;
    }
}