@page "/education" 

<BlazorUIComponents.Container.LazyLoad>
    <div class="row">
        <div class="col-md-3 order-last align-self-center" style="padding: 0px">
            <BlazorUIComponents.Img.LazyLoad Class="lazy-img img-full-height" LazyLoadSrc="/img/cqu-logo.jpeg"
                                             PlaceHolderSrc="/img/ph-sm.png" />
        </div>
        <div class="col-md-9" style="padding: 1em">
            <h5>Tertiary</h5>
            <p>Bachelor of Information Technology Majoring in Application Development</p>
            <p>GPA: 6.67</p>
        </div>
    </div>
</BlazorUIComponents.Container.LazyLoad>

<BlazorUIComponents.Container.LazyLoad>
    <div class="row">
        <div class="col-md-3 order-last align-self-center" style="padding: 0px">
            <BlazorUIComponents.Img.LazyLoad Class="lazy-img img-full-height" LazyLoadSrc="/img/cqu-logo.jpeg"
                                             PlaceHolderSrc="/img/ph-sm.png" />
        </div>
        <div class="col-md-9" style="padding: 1em">
            <h5>Bridging Course</h5>
            <p>Completed a trimester of STEPS (Skills for Tertiary Education Preparatory Studies)</p>
            <p>GPA: 7.00</p>
        </div>
    </div>
</BlazorUIComponents.Container.LazyLoad>
