@page "/"

<BlazorUIComponents.Container.LazyLoad Class="lazy-container mobile-only">
    <div class="row">
        <div class="col-md-3 order-last align-self-center" style="padding: 0px">
            <BlazorUIComponents.Img.LazyLoad Class="lazy-img img-full-height" LazyLoadSrc="https://raw.githubusercontent.com/beausmyth1990/eResume/master/wwwroot/img/profile.jpg"
                                              PlaceHolderSrc="https://raw.githubusercontent.com/beausmyth1990/eResume/master/wwwroot/img/ph-sm.png"/>
        </div>
        <div class="col-md-9" style="padding: 1em">
            <h5>About Me</h5>
            <p>My name is Beau. I am a Web Developer whos works mostly with C# and Blazor, but I will learn whatever languages and frameworks I need to to get the job done right.</p>
            <p>Feel free to checkout this eResume of mine. If you feel like I would be a good fit your workplace/ team then don't hesitate to reach out. I am always happy to chat.</p>
            <ul class="nav flex-column info-list">
                <li class="nav-item">
                    <a href="tel:0431726991">
                        <span class="oi oi-phone"></span> 043 172 6991
                    </a>
                </li>
                <li class="nav-item">
                    <a href="mailto:beau.smyth@outlook.com">
                        <span class="oi oi-envelope-closed"></span> beau.smyth@outlook.com
                    </a>
                </li>
                <li class="nav-item">
                    <a target="_blank" href="@(@"https://www.google.com/maps/place/Brisbane+QLD/@-27.3818631,152.7130055,10z/data=!3m1!4b1!4m5!3m4!1s0x6b91579aac93d233:0x402a35af3deaf40!8m2!3d-27.4697707!4d153.0251235")">
                        <span class="oi oi-location"></span> Brisbane
                    </a>
                </li>
            </ul>
        </div>
    </div>
</BlazorUIComponents.Container.LazyLoad>

<BlazorUIComponents.Container.LazyLoad>

    <div class="row">
        <div class="col-md-3 order-last align-self-center" style="padding: 0px">
            <BlazorUIComponents.Img.LazyLoad Class="lazy-img img-full-height" LazyLoadSrc="https://raw.githubusercontent.com/beausmyth1990/eResume/master/wwwroot/img/winner.png"
                                              PlaceHolderSrc="https://raw.githubusercontent.com/beausmyth1990/eResume/master/wwwroot/img/ph-sm.png"/>
        </div>
        <div class="col-md-9" style="padding: 1em">
            <h5>Career Goals</h5>
            <p>To become the most proficient Software Developer I can be. I would like to initially (post grad) work in Web Development and eventually make my way into Data Science. I feel that these two industries have the power to shape the future, and I want to help shape it for the better.</p>

        </div>
    </div>
</BlazorUIComponents.Container.LazyLoad>

<BlazorUIComponents.Container.LazyLoad>
    <div class="row">
        <div class="col-md-3 order-last align-self-center" style="padding: 0px">
            <BlazorUIComponents.Img.LazyLoad Class="lazy-img img-full-height" LazyLoadSrc="https://raw.githubusercontent.com/beausmyth1990/eResume/master/wwwroot/img/games.png"
                                             PlaceHolderSrc="https://raw.githubusercontent.com/beausmyth1990/eResume/master/wwwroot/img/ph-sm.png" />
        </div>
        <div class="col-md-9" style="padding: 1em">
            <h5>Hobbies</h5>
            <p>In my spare time I enjoy coding (learning and personal projects), Yoga, Calisthenics, and some light gaming. I also enjoy venturing out to try new vegan food.</p>
        </div>
    </div>
</BlazorUIComponents.Container.LazyLoad>

<BlazorUIComponents.Container.LazyLoad>
    <div class="row">
        <div class="col-md-3 order-last align-self-center" style="padding: 0px">
            <BlazorUIComponents.Img.LazyLoad Class="lazy-img img-full-height" LazyLoadSrc="https://raw.githubusercontent.com/beausmyth1990/eResume/master/wwwroot/img/person.png"
                                             PlaceHolderSrc="https://raw.githubusercontent.com/beausmyth1990/eResume/master/wwwroot/img/ph-sm.png" />
        </div>
        <div class="col-md-9" style="padding: 1em">
            <h5>Personal Life</h5>
            <p>I am a fun, friendly guy who loves a good chat, especially if it's to do with anything tech related.</p>

        </div>
    </div>
</BlazorUIComponents.Container.LazyLoad>

<BlazorUIComponents.Container.LazyLoad>
    <div class="row">
        <div class="col-md-3 order-last align-self-center" style="padding: 0px">
            <BlazorUIComponents.Img.LazyLoad Class="lazy-img img-full-height" LazyLoadSrc="https://raw.githubusercontent.com/beausmyth1990/eResume/master/wwwroot/img/work.png"
                                             PlaceHolderSrc="https://raw.githubusercontent.com/beausmyth1990/eResume/master/wwwroot/img/ph-sm.png" />
        </div>
        <div class="col-md-9" style="padding: 1em">
            <h5>Professional Development</h5>
            <p>I am a big believer in life-long learning and self-improvement. Therefore, I plan on taking any and all opportunities to increase my knowledge, expand my skill-set and broaden my horizons in the field of software development.</p>

        </div>
    </div>
</BlazorUIComponents.Container.LazyLoad>

