@using BlazorUIComponents.Container;
@page "/work-history"

<LazyLoad>
    <div class="row">
        <div class="col-md-3 order-last align-self-center" style="padding: 0px">
            <BlazorUIComponents.Img.LazyLoad Class="lazy-img img-full-height" LazyLoadSrc="/img/ccq-logo.png"
                                             PlaceHolderSrc="/img/ph-sm.png" />
        </div>
        <div class="col-md-9" style="padding: 1em">
            <h5>CentacareCQ</h5>
            <p><strong>Positon: </strong>Intern Web Developer</p>
            <p><strong>Key Responsibilities:</strong></p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Develop in-house, on-premise-hosted Web App</li>
            </ul>
        </div>
    </div>
</LazyLoad>

<BlazorUIComponents.Container.LazyLoad>
    <div class="row">
        <div class="col-md-3 order-last align-self-center" style="padding: 0px">
            <BlazorUIComponents.Img.LazyLoad Class="lazy-img img-full-height" LazyLoadSrc="/img/aa-logo.jpg"
                                             PlaceHolderSrc="/img/ph-sm.png" />
        </div>
        <div class="col-md-9" style="padding: 1em">
            <h5>Almost Anything Web & Graphic Design</h5>
            <p><strong>Positon: </strong>Full-stack Web Developer</p>
            <p><strong>Key Responsibilities:</strong></p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Adhere to strict deadlines</li>
                <li class="list-group-item">Write, quality, maintainable and well-tested code</li>
                <li class="list-group-item">Develop WordPress plugins and templates</li>
            </ul>
        </div>
    </div>
</BlazorUIComponents.Container.LazyLoad>