@inherits LayoutComponentBase

<div class="container">

    <div class="row" style="height: 100vh">
        <div class="col-md-3" style="padding: 0px">
            <div class="row" id="profile-pic"></div>
            <div class="row" id="personal-info-summary">
                <ul class="nav flex-column info-list">
                    <li class="nav-item">
                        <h4>Beau Smyth</h4>
                    </li>
                    <li class="nav-item">
                        <h5>Developer / Programmer</h5>
                    </li>
                    <li class="nav-item">
                        <a href="tel:0431726991">
                            <span class="oi oi-phone"></span> 043 172 6991
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="mailto:beau.smyth@outlook.com">
                            <span class="oi oi-envelope-closed"></span> beau.smyth@outlook.com
                        </a>
                    </li>
                    <li class="nav-item">
                        <a target="_blank" href="@(@"https://www.google.com/maps/place/Brisbane+QLD/@-27.3818631,152.7130055,10z/data=!3m1!4b1!4m5!3m4!1s0x6b91579aac93d233:0x402a35af3deaf40!8m2!3d-27.4697707!4d153.0251235")">
                            <span class="oi oi-location"></span> Brisbane
                        </a>
                    </li>
                </ul>
                <ul class="nav d-flex" id="social-media-bar">
                    <li class="nav-link flex-fill align-self-center">
                        <a tagert="_blank" href="#" class="social-media-link">
                            <img src="https://raw.githubusercontent.com/beausmyth1990/eResume/master/wwwroot/img/github-icon.png" />
                        </a>
                    </li>
                    <li class="nav-link flex-fill align-self-center">
                        <a tagert="_blank" href="#" class="social-media-link">
                            <img src="https://raw.githubusercontent.com/beausmyth1990/eResume/master/wwwroot/img/linkedin-icon.png" />
                        </a>
                    </li>
                    <li class="nav-link flex-fill align-self-center">
                        <a tagert="_blank" href="#" class="social-media-link">
                            <img src="https://raw.githubusercontent.com/beausmyth1990/eResume/master/wwwroot/img/fb-icon.png" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-9" id="page-content-column" style="padding: 0px">
            <div class="row">
                <div class="col-12" id="nav-column" style="padding: 0px;">
                    <NavMenu />
                </div>
            </div>
            <div class="row" id="page-content-row">
                <div class="mobile-page-header@(_expandMenu ? " expand" : "")" @onclick="@(() => { _expandMenu = false; })">
                    <NavMenu />
                    <div id="menu-toggle" class="@( _expandMenu ? "hidden" : "" )" @onclick="ToggleMenu" @onclick:stopPropagation>
                        <img src="https://raw.githubusercontent.com/beausmyth1990/eResume/master/wwwroot/img/menu.png" style="width: 25px; margin-top: 7px"/>
                    </div>
                </div>
                <div class="col-12" id="page-content">
                    @Body
                </div>
            </div>
        </div>
    </div>
</div>

@code{
    bool _expandMenu = false;

    void ToggleMenu()
    {
        _expandMenu = true;
    }
}